body {
  background-color: blanchedalmond;
}

h1 {
  color: tomato;
}

h2 {
  color: gray;
}

p {
  color: violet;
  border: 5px;
  border-color:powderblue;
}

blockquote {
  color: MediumSeaGreen;
}
